<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/newEvent/style.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <section>
            <h1>New Event</h1>
            <p>Fill the required info before saving</p>
            <hr>
        </section>

        <section class="background-info wrapper">
            <label for="eventName"></label>
            <input type="text" name="eventName" id="eventName" placeholder="Event name">

            <label for="user"></label>
            <input type="text" name="user" id="user" placeholder="User">

            <label for="eventType"></label>
            <select>
                <option value="online">Online</option>
                <option value="inPerson">In Person</option>
                <option value="hybrid">Hybrid</option>
            </select>

            <label for="location"></label>
            <input type="text" name="location" id="location" placeholder="Location">

            <label for="date"></label>  
            <input type="text" name="date" id="date" placeholder="date">
        </section>


    </div>
    
    
</body>
</html>