<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/registration/style.css">
</head>
<body>
    <%- include('partials/navbar') %>


  <div class="container">
        <h1>Register</h1>
        <div class="hidden errors">
            <ul>
                <% errors.forEach(error => { %>
                    <li>
                        <%= error.msg %>
                    </li>
                <% }); %>
            </ul>
        </div>   
        
        <form action="/authenticate/register" method="post">
            <div class="form-group">
                <label for="userName">Username</label>
                <input type="text" class="form-control" id="userName" name="userName" required>
                <div class="registration-error hidden" id="usernameError"></div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" required>
                <div class="registration-error hidden" id="emailError"></div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <div class="registration-error" id="passwordError"> </div>
                
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>